# Terraform State Files
*.tfstate
*.tfstate.*

# Crash Logs
crash.log

# CLI Configuration
.terraform/
.terraform.lock.hcl

# Sensitive Variable Overrides
*.auto.tfvars

# Plan Files
*.tfplan

# Local Execution Metadata
.terraform.tfstate.lock.info
